<h2>settings</h2>
<ul class="pagination">
    <li ng-repeat="page in pager.beads" ng-class="{active: page.skip == pager.skip}"><a ng-href="#/settings/{{page.skip}}/{{pager.limit}}" ng-bind="page.page"></a></li>
</ul>
<table>
    <tr>
        <th>key</th>
        <th>value</th>
        <th>note</th>
        <th>operate</th>
    </tr>
    <tr ng-repeat="setting in settings">
        <td>{{setting.key}}</td>
        <td>{{setting.value}}</td>
        <td>{{setting.note}}</td>
        <td><a ng-href="#/setting/{{setting._id}}">edit</a> | <a ng-click="delete(setting._id)">delete</a></td></td>
    </tr>
</table>