<h2>Tags</h2>
<ul class="pagination">
    <li ng-repeat="page in pager.beads" ng-class="{active: page.skip == pager.skip}"><a ng-href="#/tags/{{page.skip}}/{{pager.limit}}" ng-bind="page.page"></a></li>
</ul>
<table>
    <tr>
        <th>name</th>
        <th>count</th>
        <th>operate</th>
    </tr>
    <tr ng-repeat="tag in tags">
        <td>{{tag.name}}</td>
        <td>{{tag.count}}</td>
        <td><a ng-href="#/tag/{{tag._id}}">edit</a> | <a ng-click="delete(tag._id)">delete</a></td>
    </tr>
</table>