<h2>User</h2>
<form action="../rest/user" method="post">
    <ul>
        <li>
            <label for="username">username</label>
            <br/>
            <input type="text" id="username" name="username" ng-model="user.username"/>
        </li>
        <li>
            <label for="email">email</label>
            <br/>
            <input type="text" id="email" name="email" ng-model="user.email"/>
        </li>
        <li>
            <label for="password">password</label>
            <br/>
            <input type="password" id="password" name="password" ng-model="user.password"/>
        </li>
        <li>
            <input type="submit" id="submit" name="submit" value="submit" ng-click="submit()"/>
        </li>
    </ul>
</form>