<h2>Roles</h2>
<ul class="pagination">
    <li ng-repeat="page in pager" ng-class="{active: page.skip == skip}"><a ng-href="#/roles/{{page.skip}}" ng-bind="page.page"></a></li>
</ul>
<table>
    <tr>
        <th>name</th>
        <th>privilege</th>
        <th>note</th>
        <th>operate</th>
    </tr>
    <tr ng-repeat="role in roles">
        <td>{{role.name}}</td>
        <td>{{role.privilege}}</td>
        <td>{{role.note}}</td>
        <td><a ng-href="#/role/{{role._id}}">edit</a></td>
    </tr>
</table>