<h2>setting</h2>
<form>
    <ul>
        <li>
            <label for="key">key</label>
            <br/>
            <input type="text" id="key" name="key" ng-model="setting.key"/>
        </li>
        <li>
            <label for="value">value</label>
            <br/>
            <input type="text" id="value" name="value" ng-model="setting.value"/>
        </li>
        <li>
            <label for="note">note</label>
            <br/>
            <input type="text" id="note" name="note" ng-model="setting.note"/>
        </li>
        <li>
            <input type="submit" id="submit" name="submit" value="submit" ng-click="submit()"/>
        </li>
    </ul>
</form>